<!DOCTYPE html>
<html>
    <head>
        <title>Homeworks</title>
        <!-- We've provided some styles for you, aren't we nice? -->
        <link rel="stylesheet" type="text/css" href="/css/reset.css" />
        <link rel="stylesheet" type="text/css" href="/css/style.css" />
    </head>

    <body ng-app="homeworkApp">
      <div class="nav">
        <center>
          <a href="/">Home</a>
          <a href="/about">About</a>
        </center>
      </div>

      <div ng-controller="MainController">
      <div class="title">
        <h1>Welcome to the 90s</h1>
      </div>
      <div ng-repeat="homework in homeworks">
        <div class="homework">
          <ul class="homework-details">
          <h1 ng-click="showHomework(homework)">{{homework.assignment}} (click me)</h1>
            <div ng-show="homework.clicked">
              <li>Assignment: {{homework.assignment}}</li>
              <li>Url: {{homework.url}}</li>
              <li>Status: {{homework.status}}</li>
            </div>
          </ul>
        </div>
      </div>

      	
      </div>
    </div>
    	<script src="js/lib/angular.js"></script>
    	<script src="js/app.js"></script>
    	<script src="js/controllers/controllers.js"></script>
      <script src="js/factories/factories.js"></script>
    </body>
    </body>
</html>